@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ### Primary */

  --D-Violet: hsl(256, 26%, 20%);
  --G-Blue: hsl(216, 30%, 68%);

  /* ### Neutral */

  --VD-Violet: hsl(270, 9%, 17%);
  --DG-Violet: hsl(273, 4%, 51%);
  --VL-Gray: hsl(0, 0%, 98%);

  --Font: 16px;
}

.nav-bg {
  background-image: url(./assets/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: var(--VD-Violet);
}

.work-bg {
  background-image: url(./assets/images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: var(--VD-Violet);
}

.footer-bg {
  background-image: url(./assets/images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-color: var(--G-Blue);
}

.intro-bg {
  background-color: var(--D-Violet);
}

@media screen and (max-width: 600px) {
  .i-center {
    @apply flex flex-col items-center text-center w-full h-full;
  }
  .work-bg {
    background-image: url(./assets/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: var(--VD-Violet);
  }

  .footer-bg {
    background-image: url(./assets/images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: var(--G-Blue);
  }
}
